*{ /* resetter, applies to all elements on a webpage */
    margin: 0;
    padding: 0;
    font-family: "Asap Condensed", sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{ /* we do #header because we are referring to the div id "header" */
    width: 100%; /* spans the whole width of the page */
    height: 100vh; /* takes up the entire vertical height of the user's screen and won't affect the content or elements */
    background-image: url(../img/sea.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%; /* 10px from top and bottom but 10% from the left and right side */
}
nav{
    display: flex; /* so the image and links will be side by side */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{ /* structures the navbar */
    display: inline-block; /* so the nav bar is horizontally aligned */
    list-style: none; /* removes the bullets */
    margin: 10px 20px; /* space between each link */
}
nav ul li a{ /* alters the style of the links */
    color: white;
    text-decoration: none; /* removes the underline */
    font-size: 18px;
    position: relative;
}
nav ul li a::after{ /* creates an underline under the links on the navbar */
    content: '';
    width: 0; /*this needs to be 0 if we want to consider the underline to have this slider effect */
    height: 3px;
    background: #b3d6f9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{ /* creates an effect when you hover over the links but alters the underline */
    width: 100%; 
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #b3d6f9;
}

/* ---about--- */
#about{
    padding: 80px 0;
}
.row{
    display: flex; /* side by side content */
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%; /* width of this column will be 35% */
}
.about-col-1 img{
    width: 100%; /* as wide as the parent element */
    border-radius: 15px; /* rounded corners */
}
.about-col-2{
    flex-basis: 60%; /* we did 60 so there would be a 5% space between columns*/
}
.sub-title{
    color: #223A59;
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #b3d6f9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b3d6f9;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block; 
}

/* ----Button---- */
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b3d6f9;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #b3d6f9;
}

/* ----Services---- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s; /* this is added because we are transforming when we hover */
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #b3d6f9; /* when we hover over a service, it'll change the background color */
    transform: translateY(-10px); /* moving the box a little higher, by doing so, we need to modify the div css */
}

/* ---Contact--- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #b3d6f9;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #b3d6f9;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #b3d6f9;
}
.content-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #b3d6f9;
}